<h1>
  Choose breed of dog!
</h1>


<p>Описание тестового задания:</p>
<ul class="info info-tz">
  <li>
    Используя публичный API https://dog.ceo/dog-api/ показывать список пород (breeds) и под-пород (sub-breeds).
  </li>
  <li>
    Для списка пород сделать возможность поиска/фильтрации по введенной подстроке. При выводе в списке,
    имя должно напчинаться с большой буквы (capitalized)
  </li>
  <li>
    При выборе породы / подпороды, справа показать карусель с картинками собак выбранной породы/подпороды
  </li>
</ul>

<br/>
<br/>
<br/>
<p class="info">
  Кожанов В.А.<br/>
  valerakozhanov@gmail.com<br/>
  +7(921)3038702<br/>
  <a href="https://vk.com/valerakozhanov">vk.com/valerakozhanov</a><br/>
  телеграмм @kozhanovv<br/>
  P.S. клевое тз надеюсь на личную встречу!


</p>
