.view-body{
  padding-top: 10px;
  min-width: 1200px;
  height: 100%;

  .navbar{
    border-radius: 10px 10px 0 0;
    background: rgba(138, 64, 39, 0.16);
    margin-bottom: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.82);

    .logo-home{
      display: block;
      float: left;

      img{
        padding-top: 10px;
        padding-left: 16px;
        height: 50px;
      }
    }
  }
  .body{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
    background: white;
    border-radius:  0 0 10px 10px;
  }
}
.body{
  background: rgba(178, 128, 82, 0.07);
}
