$broun : rgba(85, 30, 25, 0.38);
.loading {

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-image: linear-gradient(bottom, #FFFFFF 50%, $broun 50%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 50%, $broun 50%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 50%, $broun 50%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 50%, $broun 50%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 50%, $broun 50%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.5, #FFFFFF),
      color-stop(0.5, $broun )
  );

  -webkit-animation: loading 0.2s infinite linear;
  -moz-animation: loading 0.2s infinite linear;
  -ms-animation: loading 0.2s infinite linear;
  animation: loading 0.2s infinite linear;

}

body{
  background: rgba(178, 128, 82, 0.07);
}
